body {
  font-family: Arial, sans-serif;
  background-color: #f2f4f7;
}

.container {
  max-width: 500px;
  background: white;
  padding: 20px;
  margin: 50px auto;
  border-radius: 8px;
}

h1 {
  color: #0b5ed7;
}

button {
  padding: 10px;
  width: 100%;
  background-color: #0b5ed7;
  color: white;
  border: none;
  border-radius: 5px;
}
