body {
  font-family: Arial, sans-serif;
  background-color: #f2f4f7;
}

.container {
  max-width: 500px;
  background: white;
  padding: 20px;
  margin: 50px auto;
  border-radius: 8px;
  text-align: center;
}

h1 {
  color: #0b5ed7;
}

button:hover {
  background-color: #0056b3;
}



input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}
